In [1]:
import pandas as pa
import numpy as np

##### Make Series-

In [3]:
a=pa.Series([1,2,3,4,np.nan,5,6,np.nan])

In [4]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
7    NaN
dtype: float64

In [6]:
d=pa.date_range('20210110',periods=10)

In [7]:
d

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19'],
              dtype='datetime64[ns]', freq='D')

##### Make DataFrame -

In [17]:
df1=pa.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [18]:
df1

                   A         B         C         D
2021-01-10  0.997043  0.658202  0.239007  0.228081
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698
2021-01-12  1.705185  0.437801 -0.475632 -0.931822
2021-01-13 -1.581267  0.986835 -0.155522  0.102689
2021-01-14  0.104500 -0.187676 -1.614953 -2.021731
2021-01-15 -0.499278 -0.246731 -0.191429 -0.724163
2021-01-16  0.504597  0.728836 -0.064109  1.422097
2021-01-17  0.637966 -1.343297 -1.054989  0.518092
2021-01-18  0.241059  0.990760 -1.008282  1.656729
2021-01-19  0.333633 -1.178295 -1.029100 -0.346980

In [12]:
#Dictionary with some values as made dataset 
df=pa.DataFrame({'A': [1,2,3,4],
                 'B':pa.Timestamp('20210101'),
                 'C':pa.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([5]*4,dtype='int32'),
                 'E':pa.Categorical(['True','False','False','True']),
                 'F':'Jupyter'})

In [13]:
df

   A          B    C  D      E        F
0  1 2021-01-01  1.0  5   True  Jupyter
1  2 2021-01-01  1.0  5  False  Jupyter
2  3 2021-01-01  1.0  5  False  Jupyter
3  4 2021-01-01  1.0  5   True  Jupyter

In [14]:
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df.head()
df.tail()

   A          B    C  D      E        F
0  1 2021-01-01  1.0  5   True  Jupyter
1  2 2021-01-01  1.0  5  False  Jupyter
2  3 2021-01-01  1.0  5  False  Jupyter
3  4 2021-01-01  1.0  5   True  Jupyter

##### How to view data

In [19]:
df1.head()

                   A         B         C         D
2021-01-10  0.997043  0.658202  0.239007  0.228081
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698
2021-01-12  1.705185  0.437801 -0.475632 -0.931822
2021-01-13 -1.581267  0.986835 -0.155522  0.102689
2021-01-14  0.104500 -0.187676 -1.614953 -2.021731

In [20]:
df1.tail()

                   A         B         C         D
2021-01-15 -0.499278 -0.246731 -0.191429 -0.724163
2021-01-16  0.504597  0.728836 -0.064109  1.422097
2021-01-17  0.637966 -1.343297 -1.054989  0.518092
2021-01-18  0.241059  0.990760 -1.008282  1.656729
2021-01-19  0.333633 -1.178295 -1.029100 -0.346980

In [22]:
df1.index

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df.to_numpy()

array([[1, Timestamp('2021-01-01 00:00:00'), 1.0, 5, 'True', 'Jupyter'],
       [2, Timestamp('2021-01-01 00:00:00'), 1.0, 5, 'False', 'Jupyter'],
       [3, Timestamp('2021-01-01 00:00:00'), 1.0, 5, 'False', 'Jupyter'],
       [4, Timestamp('2021-01-01 00:00:00'), 1.0, 5, 'True', 'Jupyter']],
      dtype=object)

In [25]:
df1.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.161412   0.088228  -0.594375  -0.050071
std     0.938120   0.838247   0.573377   1.097294
min    -1.581267  -1.343297  -1.614953  -2.021731
25%    -0.348333  -0.231967  -1.023895  -0.644047
50%     0.287346   0.236825  -0.532185  -0.122145
75%     0.604624   0.711178  -0.164499   0.445589
max     1.705185   0.990760   0.239007   1.656729

In [26]:
df1.sort_index(axis=1,ascending=True)

                   A         B         C         D
2021-01-10  0.997043  0.658202  0.239007  0.228081
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698
2021-01-12  1.705185  0.437801 -0.475632 -0.931822
2021-01-13 -1.581267  0.986835 -0.155522  0.102689
2021-01-14  0.104500 -0.187676 -1.614953 -2.021731
2021-01-15 -0.499278 -0.246731 -0.191429 -0.724163
2021-01-16  0.504597  0.728836 -0.064109  1.422097
2021-01-17  0.637966 -1.343297 -1.054989  0.518092
2021-01-18  0.241059  0.990760 -1.008282  1.656729
2021-01-19  0.333633 -1.178295 -1.029100 -0.346980

In [28]:
df1.sort_values(by='A')

                   A         B         C         D
2021-01-13 -1.581267  0.986835 -0.155522  0.102689
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698
2021-01-15 -0.499278 -0.246731 -0.191429 -0.724163
2021-01-14  0.104500 -0.187676 -1.614953 -2.021731
2021-01-18  0.241059  0.990760 -1.008282  1.656729
2021-01-19  0.333633 -1.178295 -1.029100 -0.346980
2021-01-16  0.504597  0.728836 -0.064109  1.422097
2021-01-17  0.637966 -1.343297 -1.054989  0.518092
2021-01-10  0.997043  0.658202  0.239007  0.228081
2021-01-12  1.705185  0.437801 -0.475632 -0.931822

In [30]:
#Select a sibgle column from dataset
df1['A']

2021-01-10    0.997043
2021-01-11   -0.829321
2021-01-12    1.705185
2021-01-13   -1.581267
2021-01-14    0.104500
2021-01-15   -0.499278
2021-01-16    0.504597
2021-01-17    0.637966
2021-01-18    0.241059
2021-01-19    0.333633
Freq: D, Name: A, dtype: float64

In [31]:
df1[0:2]

                   A         B         C         D
2021-01-10  0.997043  0.658202  0.239007  0.228081
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698

In [35]:
df1.loc[d[1]]

A   -0.829321
B    0.035848
C   -0.588739
D   -0.403698
Name: 2021-01-11 00:00:00, dtype: float64

In [38]:
#selecting data o multiple accesss by label
df1.loc[:,['A','C']]

                   A         C
2021-01-10  0.997043  0.239007
2021-01-11 -0.829321 -0.588739
2021-01-12  1.705185 -0.475632
2021-01-13 -1.581267 -0.155522
2021-01-14  0.104500 -1.614953
2021-01-15 -0.499278 -0.191429
2021-01-16  0.504597 -0.064109
2021-01-17  0.637966 -1.054989
2021-01-18  0.241059 -1.008282
2021-01-19  0.333633 -1.029100

In [40]:
 df1.loc[d[0],['A','C']]

A    0.997043
C    0.239007
Name: 2021-01-10 00:00:00, dtype: float64

In [43]:
#values from a position inside a dataframe
df1.iloc[2:4,0:2]

                   A         B
2021-01-12  1.705185  0.437801
2021-01-13 -1.581267  0.986835

In [44]:
#boolean indexing
df1[df1['A']>1]

                   A         B         C         D
2021-01-12  1.705185  0.437801 -0.475632 -0.931822

##### Handle Missing data

In [45]:
#adding new indexes
df2=df1.reindex(index=d[0:4],columns=list(df1.columns)+['E'])

In [46]:
df2.loc[d[0]:d[1],'E']=1

In [47]:
df2

                   A         B         C         D    E
2021-01-10  0.997043  0.658202  0.239007  0.228081  1.0
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698  1.0
2021-01-12  1.705185  0.437801 -0.475632 -0.931822  NaN
2021-01-13 -1.581267  0.986835 -0.155522  0.102689  NaN

In [49]:
df2.isnull()

                A      B      C      D      E
2021-01-10  False  False  False  False  False
2021-01-11  False  False  False  False  False
2021-01-12  False  False  False  False   True
2021-01-13  False  False  False  False   True

In [50]:
df2.dropna()

                   A         B         C         D    E
2021-01-10  0.997043  0.658202  0.239007  0.228081  1.0
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698  1.0

In [51]:
df2.fillna(value=2)

                   A         B         C         D    E
2021-01-10  0.997043  0.658202  0.239007  0.228081  1.0
2021-01-11 -0.829321  0.035848 -0.588739 -0.403698  1.0
2021-01-12  1.705185  0.437801 -0.475632 -0.931822  2.0
2021-01-13 -1.581267  0.986835 -0.155522  0.102689  2.0

In [52]:
pa.isna(df2)

                A      B      C      D      E
2021-01-10  False  False  False  False  False
2021-01-11  False  False  False  False  False
2021-01-12  False  False  False  False   True
2021-01-13  False  False  False  False   True

##### Pandas operations

In [54]:
 df1.mean()

A    0.161412
B    0.088228
C   -0.594375
D   -0.050071
dtype: float64

In [55]:
s=pa.Series([1,2,3,np.nan,4,5,6,7,8,9],index=d).shift(2)

In [56]:
s

2021-01-10    NaN
2021-01-11    NaN
2021-01-12    1.0
2021-01-13    2.0
2021-01-14    3.0
2021-01-15    NaN
2021-01-16    4.0
2021-01-17    5.0
2021-01-18    6.0
2021-01-19    7.0
Freq: D, dtype: float64

In [57]:
df1.sub(s,axis='index')

                   A         B         C         D
2021-01-10       NaN       NaN       NaN       NaN
2021-01-11       NaN       NaN       NaN       NaN
2021-01-12  0.705185 -0.562199 -1.475632 -1.931822
2021-01-13 -3.581267 -1.013165 -2.155522 -1.897311
2021-01-14 -2.895500 -3.187676 -4.614953 -5.021731
2021-01-15       NaN       NaN       NaN       NaN
2021-01-16 -3.495403 -3.271164 -4.064109 -2.577903
2021-01-17 -4.362034 -6.343297 -6.054989 -4.481908
2021-01-18 -5.758941 -5.009240 -7.008282 -4.343271
2021-01-19 -6.666367 -8.178295 -8.029100 -7.346980

In [60]:
#apply has much functions
df1.apply(np.cumsum)

                   A         B         C         D
2021-01-10  0.997043  0.658202  0.239007  0.228081
2021-01-11  0.167721  0.694050 -0.349732 -0.175617
2021-01-12  1.872906  1.131851 -0.825363 -1.107438
2021-01-13  0.291639  2.118686 -0.980885 -1.004750
2021-01-14  0.396139  1.931011 -2.595838 -3.026481
2021-01-15 -0.103139  1.684280 -2.787267 -3.750644
2021-01-16  0.401458  2.413116 -2.851377 -2.328547
2021-01-17  1.039424  1.069819 -3.906366 -1.810455
2021-01-18  1.280483  2.060580 -4.914648 -0.153726
2021-01-19  1.614116  0.882284 -5.943748 -0.500706

In [61]:
df1.apply(lambda x:x.max()-x.min())

A    3.286452
B    2.334057
C    1.853960
D    3.678460
dtype: float64

In [62]:
s.value_counts()

7.0    1
6.0    1
5.0    1
4.0    1
3.0    1
2.0    1
1.0    1
dtype: int64

In [63]:
s=pa.Series(['Python','jupyter','pandas',np.nan,'matlab'])

In [64]:
s.str.upper()

0     PYTHON
1    JUPYTER
2     PANDAS
3        NaN
4     MATLAB
dtype: object

In [67]:
#Merging
df3=pa.DataFrame(np.random.randn(10,4))

In [68]:
df3

          0         1         2         3
0  1.104580  0.801593 -0.296059  0.677746
1  0.276906  0.627601  0.254044 -1.858758
2  1.467359  1.960433  1.646636  2.324015
3  0.272111 -3.092182 -0.269175 -0.110301
4 -0.930315  0.143623 -1.993266  1.066892
5  0.003930  0.987369  0.316455 -0.702495
6 -0.916278  0.560147 -0.150475 -1.208157
7 -0.153736 -1.164718  0.558353  0.126130
8 -0.087299 -0.179608  0.092233 -0.072767
9  0.209277 -0.425722 -1.842309 -1.245541

In [69]:
df4=[df3[:3],df3[3:7],df3[7:]]

In [70]:
df4

[          0         1         2         3
 0  1.104580  0.801593 -0.296059  0.677746
 1  0.276906  0.627601  0.254044 -1.858758
 2  1.467359  1.960433  1.646636  2.324015,
           0         1         2         3
 3  0.272111 -3.092182 -0.269175 -0.110301
 4 -0.930315  0.143623 -1.993266  1.066892
 5  0.003930  0.987369  0.316455 -0.702495
 6 -0.916278  0.560147 -0.150475 -1.208157,
           0         1         2         3
 7 -0.153736 -1.164718  0.558353  0.126130
 8 -0.087299 -0.179608  0.092233 -0.072767
 9  0.209277 -0.425722 -1.842309 -1.245541]

In [71]:
pa.concat(df4)

          0         1         2         3
0  1.104580  0.801593 -0.296059  0.677746
1  0.276906  0.627601  0.254044 -1.858758
2  1.467359  1.960433  1.646636  2.324015
3  0.272111 -3.092182 -0.269175 -0.110301
4 -0.930315  0.143623 -1.993266  1.066892
5  0.003930  0.987369  0.316455 -0.702495
6 -0.916278  0.560147 -0.150475 -1.208157
7 -0.153736 -1.164718  0.558353  0.126130
8 -0.087299 -0.179608  0.092233 -0.072767
9  0.209277 -0.425722 -1.842309 -1.245541